{% extends "base.html" %} {% block main %}
<h1>Secure Page </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in convallis quam. Sed egestas hendrerit pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent non facilisis orci. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus euismod a leo sit amet tristique. Mauris quis vulputate leo, in auctor mauris. Aliquam tortor lectus, rutrum at interdum vel, imperdiet sit amet justo. Duis condimentum
    fermentum ligula id rutrum. Phasellus lobortis placerat magna. Sed efficitur pharetra porta. Morbi porttitor facilisis justo id placerat. Proin quis pellentesque augue. Donec tempus turpis vitae metus tincidunt feugiat. Morbi magna velit, luctus id
    consectetur vel, egestas in nisi. </p>
{% endblock %}